{% extends 'notes/layout.html' %}

{% block content %}
<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form action="{% url 'create' %}" method="post">
              {% csrf_token %}
                  <div class="input-group mb-3">
                    <label style="width:10%;" class="input-group-text" for="inputGroupSelect01">Пользователь</label>
                    {{ form.user }}
                  </div>
                  <div class="input-group mb-3">
                    <label style="width:10%;" class="input-group-text" for="inputGroupSelect01">Поле для текста</label>
                    <textarea id="mytextarea" name="textarea"></textarea>
                  </div>
                  
                  <div class="input-group mb-3">
                    <button type="submit" class="btn btn-light"><i class="fadeIn animated bx bx-message-add"></i>Добавить</button>
                  </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}