{% extends 'notes/layout.html' %}
{% block content %}
<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col col-lg mx-auto">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive">
              <div>
                <h5 class="mb-0">Отчеты</h5>
              </div>
            </div>
            <hr />
            <table id="example2" class="display table">
              <thead>
                <tr>
                  <th class="all">Дата создания</th>
                  <th class="all">Пользователь</th>
                  <th class="none"></th>
                </tr>
              </thead>
              <tbody>
                {% for note in note_list %}
                <tr>
                  <td>
                    {{ note.created|date:"d-m-Y" }}
                  </td>
                  <td>
                    {{ note.user }}
                  </td>
                  <td>
                      <p>
                        {{ note.textarea|truncatewords:10|safe }}
                      </p>
                    <a class="font-12 text-white btn btn-light" href="{% url 'note-edit' note.id%}"><i class="fadeIn animated bx bx-message-edit"></i>Редактировать</a>
                    <a class="font-12 text-white btn btn-light" href="{{ note.get_absolute_url }}"><i class="fadeIn animated bx bx-show-alt"></i>Открыть</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Дата</th>
                  <th>Пользователь</th>
                  <th class="none"></th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock  %}