{% extends 'notes/layout.html' %}

{% block content %}
<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <hr>
        <h6 class="mb-0 text-uppercase">{{ note.title }}<p><em>({{ note.user }})</em></p></h6>
        <hr/>
        <div class="card">
          <div class="card-body">
            <p>{{ note.textarea }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"><a href="#">Редактировать</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% comment %} <ul>
  <li><a href="{% url 'note-update' note.id %}">Редактировать</a></li>
  <li><a href="{% url 'note-delete' note.id %}">Удалить</a></li>
</ul> {% endcomment %}
  {% comment %} <div style="margin-left:20px;margin-top:20px">
    <h4>Кому передано</h4>

    {% for n in note.task_set.all %}
    <p>Выполняет: {{ n.responsible }}</p>
    <hr>
    <p><strong>Статус: </strong> {% for n in note.task_set.all %} {{ n }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p class="{% if n.status == 'В работе' %}text-success{% elif n.status == 'Отложено' %}text-danger{% else %}text-warning{% endif %}">{{ n.get_status_display }}</p>
    {% if n.status != 'Отложено' %}<p><strong>Сделать до:</strong> {{n.must_do}}</p>{% endif %}
    <p class="text-muted"><strong>Id:</strong> {{n.id}}</p>
    <p><strong>Текст: </strong> {{ n.textarea }}</p>
    {% endfor %}
  </div> {% endcomment %}
{% endblock content %}