{% extends 'notes/layout.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col">
                <hr>
                <h6 class="mb-0 text-uppercase">{{ note.title }}<p><em>({{ note.user }})</em></p>
                </h6>
                <hr />
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                                    <div class="input-group mb-3">
                                        <label style="width:10%;" class="input-group-text" for="inputGroupSelect01">Пользователь</label>
                                        {{ form.user }}
                                    </div>
                                    <div class="input-group mb-3">
                                        <label style="width:10%;" class="input-group-text" for="inputGroupSelect01">Поле для текста</label>
                                        <textarea id="mytextarea" name="textarea">{{ form.textarea }}</textarea>
                                    </div>
                                    <br>
                                    <div class="input-group mb-3">
                                        <button type="submit" class="btn btn-light font-12 text-white"><i class="fadeIn animated bx bx-message-add"></i>Отправить</button>
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}