{% extends 'notes/layout.html' %}

{% block content %}
<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <hr>
        <h6 class="mb-0 text-uppercase">{{ note.title }}<p><em>({{ note.user }})</em></p></h6>
        <hr/>
        <div class="card">
          <div class="card-body">
						<h6 class="mb-0 text-uppercase">Form text editor</h6>
						<hr/>
						<h4 class="mb-4">TinyMCE Quick Start Guide</h4>
						<form action="{% url 'note-edit' %}" method="post">
              {% csrf_token %}
							<textarea id="mytextarea" name="mytextarea">Hello, World!</textarea>
						</form>
					</div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}