{% extends 'notes/layout.html' %}
{% block content %}
<div class="page-wrapper">
  <div class="page-content">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <hr>
        <h6 class="mb-0 text-uppercase">{{ note.user }}
        </h6>
        <hr />
        <div class="card">
          <div class="card-body">
            {{ note.textarea|safe }}
          </div>
          <div class="modal-footer">
            <a class="font-12 text-white btn btn-light" href="{% url 'note-edit' note.id %}"><i class="fadeIn animated bx bx-message-edit"></i>Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}